@import url('https://fonts.cdnfonts.com/css/digital-7-mono');
@import url('https://allfont.net/allfont.css?fonts=digital-7-italic');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    display: flex;
    justify-content: center;
}

.container {
    background-color: rgba(206, 204, 204, 0.544);
    border: 2px solid black;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 25px;
    padding: 30px;
    margin: 90px;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.screen {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 18px;
    padding-bottom: 22px;
    height: 85px;
    border: 2px solid black;
    border-radius: 5px;
}

.curr-display {
    margin: 0;
    font-family: 'Digital-7 Italic', sans-serif;
    font-size: 55px;
}

.static-display {
    margin: 0;
    font-family: 'Digital-7 Mono', sans-serif;
    font-size: 35px;
}

.keys {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex: 1;
}

.row {
    display: flex;
    gap: 0.5em;
    flex: 1;
}

.big-button {
    flex: 1 0 0;
    height: 50px;
    border-radius: 10px;
    font-size: 16px;
    background-color: rgba(255, 166, 0, 0.69);
    box-shadow: 1.5px 1.5px black;
}

.button {
    height: 60px;
    width: 60px;
    border-radius: 50px;
    font-size: 18px;
    background-color: rgba(128, 128, 128, 0.271);
    box-shadow: 1.5px 1.5px black;
}

.button.operator {
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.753);
    color: white;
    box-shadow: 1.5px 1.5px rgba(255, 166, 0, 0.829);
}

button {
    font-family: "Ubuntu", sans-serif;
}

button:hover, .button.operator:hover {
    cursor: pointer;
    transform: scale(0.999);
    box-shadow: 0px 0px;
}